asgiref==3.7.2
backports.zoneinfo;python_version<"3.9"
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
defusedxml==0.7.1
dj-rest-auth==4.0.1
Django
django-allauth
django-cors-headers
django-environ
django-rest-auth
django-restframework
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
oauthlib
packaging
Pillow
psycopg2
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
sqlparse
typing-extensions
uritemplate
urllib3
