asgiref
backports.zoneinfo
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
django-environ
django-rest-auth
django-restframework
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
oauthlib
packaging
Pillow
psycopg2
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
sqlparse
typing-extensions
uritemplate
urllib3
